<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Request</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Request Car</h1>

    <form th:action="@{'/car/request/'}" th:method="post" enctype="multipart/form-data">

        <label>Plate</label>
        <input th:field="${requestCoownership.plate}" class="form-control mb-4 col-4" required>
        <p th:errors="${requestCoownership.plate}">Plate Error</p>

        <label>Country Code</label>
        <input th:field="${requestCoownership.countryCode}" class="form-control mb-4 col-4" required>
        <p th:errors="${requestCoownership.countryCode}">Country Code Error</p>

        <button type="submit" class="btn btn-success col-2">Request</button>

    </form>

    </br>
    <div class="col-md-3" style="display: flex;">
        <a th:href="@{'/'}" class="btn btn-info">Back</a>
    </div>
</div>

</body>
</html>